/* Global styles and Bootstrap import (default theme) */
@use 'bootstrap';

$bootstrap-icons-font-dir: 'bootstrap-icons/font/fonts';

// Import the Sass files as usual
@use 'bootstrap-icons/font/bootstrap-icons';

h1 {
  font-size: 2.2rem;
  letter-spacing: -0.125rem;
}

h2 {
  letter-spacing: -0.125rem;
}

h5 {
  letter-spacing: -0.075rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.child-card {
  max-width: 720px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
}

.children-list {
  @extend .text-secondary;
}

.text-label {
  display: inline-block;
  width: 100%;
  max-width: 150px;
}
